BREVO_API_KEY=your_brevo_api_key_here
SITE_BASE_URL=http://192.168.1.x
SENDER_EMAIL=you@example.com
SENDER_NAME=Your Name
POSTS_DIR=/home/caleb/blog/posts
PUBLIC_DIR=/home/caleb/blog/public
DB_PATH=/home/caleb/blog/subscribers.db
